.startView{
    width:100%;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center; 
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.startView h1{
font-family:'Roboto';
font-size:580%;
margin-top:12%; 
color:#ffffff;
letter-spacing:0;
text-shadow:0 2px 3px rgba(0,0,0,0.50);
};
.startView span{
text-align: center;
color:white;
}
.Button{
    margin: 12% 0 1% 0;
}