.navItem{
    margin-top:1%;
    font-size: 110%;
    
}
.navItem a{
    text-decoration:none;
    color:white;
    padding: 8% 15px;

}
.navItem a.active{
    border:2px solid white;
    border-radius: 20px;
}
.navItem a.unactive{
    text-decoration: none;
}
.navItem a:hover
{
    text-decoration: none;
    color:white;
    border-bottom: 2px solid rgb(151, 199, 253);
    
}
.navItem a:visited,.navItem a:link{
    color: white;
    text-decoration: none;
}
