.Button{
    background-color: #fd5a7d;
    color: #ffff;
    border-radius: 50px;
    border: transparent;
    padding: 15px 60px;
    
    
}
.Button:active{
    background-color: #f8839a
}
.Button :first-child{
    text-align: center;

}