.Logo{
    height: 50px;
    padding:6px;
    position: relative;
    bottom:6px;
}
.Logo img {
    height: 100%;
     
}
.Logo b{
    font-size: 200%;
    margin:5px;
    position: relative;
    top:5px ;
}