.Bar img{
    height:100%;
    width: 100%;
    transition: all .4s;
}
.Bar{
    width: 20%;
    height: 200px;
    margin: 0 2%;
    font-size:80%;
    text-align: start;
    /* font-family: 'OpenSans-Bold'; */
    position: relative;
    background-size: cover;
}
.Bar .title{
    position: absolute;
    bottom: 6%;
    left: 5%;
    line-height: 86%;
}
.Bar .title h1{
    line-height: 100%;
}
.title div p[id='address']{
    position: relative;
    opacity: 0.5;
    font-size: 13px;
    line-height: 105%;
    margin: 0 auto;
}
.Bar .Stars{
    position: absolute;
    bottom:-10%;
    left:41%;
    
}
.Bar:focus img,
.Bar:hover img{
    z-index: 200;
    width: 100%;
    height: 100%;
    -webkit-mask-image: -webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,0.4)),to(rgba(0,0,0,1)));
    background-size:cover; 
    transform:scale(1.03);
    /* transition: all .2s ease; */
  
}

@media (max-width:800px){
    .Bar{
        height: 120px;
        font-size: 60%;
    }
    

}