.Image{
    position: relative;
    height: 25rem;
    width: 22%;
    margin: 0 5%;
    display: inline-block;

}
.Image .Phone{
    height: 82%;
    width: 65%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:transparent;
    margin: 0 auto;
    border-radius: 10px;
    border: transparent;
}
.Image img{
    height: 100%;
    width: 100%;
}
.Image .Img{
    padding: 5px;
    height: 12%;
    width: 40%;
    margin: 18% auto;
    border-radius: 10px;
    border: 1px solid rgba(92, 88, 88, 0.281);
}